
.show-number-holder
{
    margin-left:25%;
    background-color:#F0F0F0;
    width:27%;
    height:50px;
    border:0px;
    font-size:20px;
    /* position: relative; */
}
.cancle-Btn
{
    width:3%;
    height:50px;
    border:0px;
    color:red;
    font-size:20px;
    font-weight: bold;
    
}
.dail-number-home
{
   margin-left:25%;
    background-color: rgb(127, 126, 126);
    width:30%;
    justify-content: center;
    text-align: center;
}
.number-holder-row
{
    display: flex;
    position: relative;
    margin-left:20%;
}
.number
{
    padding:20px;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 1, 1);
    color:rgb(250, 247, 247);
    margin:10px;
    border-radius:20px;
}
.call-dail-btn
{
    background-color:green;
    padding:20px;
    margin-bottom:10px;
    border-radius:50px;
    font-size:30px;
   
}